<div class="row mt-5 w-100 mx-auto">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Professional Login</h1>
            <% include ./partials/messages %>
            <a class="btn secondary  border-bottom border-dark" href="/users/google"><i class="fa fa-google left"></i>
                Login With
                Google</a>
        </div>
    </div>
</div>