<div class="row mt-5 w-100 mx-auto">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>User Login</h1>
            <% include ./partials/messages %>
            <form action="/users/u/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" id="username" name="username" class="form-control"
                        placeholder="Enter Username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter Password" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="text-center w-100">Or</p>
            <a class="btn secondary  border-bottom border-dark" href="/users/google"><i class="fa fa-google left"></i>
                Login With
                Google</a>
            <p class="lead mt-4">
                No Account? <a href="/users/u/register">Register Now</a>
            </p>
        </div>
    </div>
</div>