<div class="row mx-auto justify-content-center align-items-center w-100">
  <div class="text-center">
    <h1><i class="fab fa-node-js fa-3x"></i></h1>
    <h1 class="font-weight-bold">uMatter</h1>
    <a href="/users/u/login" class="btn btn-primary btn-block mb-2">Login for users</a>
    <a href="/users/p/login" class="btn btn-secondary btn-block">Login for professionals</a>
  </div>
</div>